<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../lib/about.css">
</head>
<body>
	<div class="about-section">
  		<h1>About Nike</h1>
  		<p>Our mission is what drives us to do everything possible to expand human potential. We do that by creating groundbreaking sport innovations, by making our products more sustainably, by building a creative and diverse global team and by making a positive impact in communities where we live and work.</p>
  		<p>Based in Beaverton, Oregon, NIKE, Inc. includes the Nike, Converse, and Jordan brands.</p>
	</div>

	<h2 style="text-align:center">Our Team</h2>
	<div class="row">
  		<div class="column">
    		<div class="card" id="card1">
      			<img src="../lib/about_img1.jpg" alt="Jane" style="width:100%">
      			<div class="overlay" id="overlay1">
      				<div class="container">
        				<h2>Jane Doe</h2>
        				<p class="title">CEO & Founder</p>
        				<p>Some text that describes me lorem ipsum ipsum lorem.</p>
        				<p>jane@example.com</p>
        				<p><button class="button">Contact</button></p>
      				</div>
      			</div>
    		</div>
  		</div>

  		<div class="column">
    		<div class="card" id="card2">
      			<img src="../lib/about_img2.jpg" alt="Mike" style="width:100%">
      			<div class="overlay" id="overlay2">
      				<div class="container">
        				<h2>Mike Ross</h2>
        				<p class="title">Art Director</p>
        				<p>Some text that describes me lorem ipsum ipsum lorem.</p>
        				<p>mike@example.com</p>
        				<p><button class="button">Contact</button></p>
      				</div>
      			</div>
    		</div>
  		</div>

  		<div class="column">
    		<div class="card" id="card3">
      		<img src="../lib/about_img3.jpg" alt="John" style="width:100%">
      			<div class="overlay" id="overlay3">
      				<div class="container">
        				<h2>John Doe</h2>
        				<p class="title">Designer</p>
        				<p>Some text that describes me lorem ipsum ipsum lorem.</p>
        				<p>john@example.com</p>
        				<p><button class="button">Contact</button></p>
      				</div>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="container2">
  		<form action="action_page.php"> 	
    		<label for="fname" class="label">First Name</label>
    		<input type="text" id="fname" name="firstname" placeholder="Your name..">   
    		<label for="lname" class="label">Last Name</label>
    		<input type="text" id="lname" name="lastname" placeholder="Your last name..">   
    		<label for="country" class="label">Your Country</label>
    		<select id="country" name="country">
      			<option value="australia">Australia</option>
      			<option value="canada">Canada</option>
      			<option value="usa">USA</option>
    		</select>
    		<label for="subject" class="label">Subject</label>
    		<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>    
    		<input type="submit" value="Submit">
  		</form>
	</div>
  <div class="container3">
    <h3>Store <span>Information</span></h3>
    <div class="contact">          
      <div class="contactl1">
        <h4>Phone Number</h4>
        <p>+1 234 567 8901</p>
      </div>
      <div class="contactl1">
        <h4>Email Address</h4>
        <p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
      </div>
      <div class="contactl1">
        <h4>Location</h4>
        <p>Broome St, NY 10002,California, USA. </p>
      </div>
    </div>
  </div>
  <div class="contact-img">
    <img src="../lib/about_img4.png">
  </div>
</body>
</html>