<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../lib/signup.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<h2>Rigister member</h2>
		</div>
		<form id="form" class="form">
			<div class="form-control">
				<label for="username">Username</label>
				<input type="text" placeholder="username" id="username" />
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>
			<div class="form-control">
				<label for="email">Email</label>
				<input type="email" placeholder="a@gmail.com" id="email" />
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>
			<div class="form-control">
				<label for="password">Password</label>
				<input type="password" placeholder="Password" id="password"/>
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>
			<div class="form-control">
				<label for="password2">Password check</label>
				<input type="password" placeholder="Password" id="password2"/>
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>
			<div class="form-control">
				<label for="firstname">First Name</label>
				<input type="text" placeholder="First Name" id="firstname"/>
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>
			<div class="form-control">
				<label for="lastname">Last Name</label>
				<input type="text" placeholder="Last Name" id="lastname" />
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>
			<div class="form-control">
				<label for="dateofbirth">Date of birth</label>
				<input type="Date" placeholder="Date of birth" id="dateofbirth" />
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>
			<div class="form-checkbox">
				<label>
					<input type="checkbox">
					male
				</label>
				<label>
					<input type="checkbox">
					femal
				</label>
			</div>
			<button type="submit">Join us</button>
		</form>
	</div>

	
	
	<script type="text/javascript" src="../JS/signup.js"></script>
</body>
</html>